@import '../../pages/user/personal-info-fill/index.scss';

.container .popup{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F3F4FB;
  max-height: 60%;
  padding-bottom: 164px;

  .popup-title{
    align-items: center;
    margin-top:32px;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 36px;
    line-height: 24px;
    color: $primary-color;
  }

  .taroify-picker{
    width:100%;
    --picker-option-font-size: 30px;
    //--picker-option-height: 80px;
    --picker-background-color: #F3F4FB;
    --picker-option-color: #918AE3;

    &__mask{
      background-image: linear-gradient(180deg, #F3F4FB, rgba(255, 255, 255, 0.4)), linear-gradient(0deg, #F3F4FB, rgba(255, 255, 255, 0.4));
    }

    &:after{
      color: $primary-color;
    }

  }

  .confirm-btn{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 620px;
    height: 88px;
    margin: 48px 0;
    background: $primary-color;
    border-radius: 60px;

    font-weight: 500;
    font-size: 36px;
    line-height: 24px;
    color: #FFFFFF;
  }

  .confirm-btn-disabled{
    background: #D3D0F4;
  ;
  }
  .photo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;

    .uploader {
      justify-content: center;
      align-items: center;

      .uploader-img{
        margin-top:5px;
        width: 194px;
        height: 194px;
      }

      .taroify-uploader {
        &__wrapper {
          flex-direction: column;
        }

        &__preview-image {
          width: 100%;
          height: 100%;
          border-radius: 16px;
        }

        &__preview {
          margin:0 0;
          width: 194px;
          height: 194px;
        }

        &__preview-remove{
          display: flex;
          flex-direction: row;
          align-items: center;

          top:-3px;
          right:-8px;

          background-color:rgba(0, 0, 0, 0.3);
          border-radius: 24px;
        }

        &__preview-remove-icon{
          top: -6px;
          right: -6px;
          font-size: 40px;
        }
      }
    }
  }

  .card-scroll{
    position: relative;
    margin-left: 78px;
    .check-body{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-flow: row wrap;
      width: 90%;
      max-height: 60%;

      .check-label{
        align-items: center;
        height: 80px;
        background: #FFFFFF;
        border-radius: 16px;
        margin-right: 20px;
        margin-bottom: 20px;
        .check-text{
          flex-flow: nowrap;
          font-size: 30px;
          line-break: normal;
          padding: 16px 32px;
          color: rgba(0, 0, 0, 0.7);
        }

        .check-text-selected{
          color: #FFFFFF;
          padding: 16px 0 16px 32px;
          word-break: keep-all;
        }

        .selected-icon{
          width: 48px;
          height: 48px;
          padding: 0 32px 0 16px;
        }
      }

      .check-label-selected{
        background: $primary-color;
      }

      .cell-other {
        display: flex;
        align-items: center;
        padding: 15px 0;
        height: 40px;
        font-weight: 400;
        font-size: 28px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.3);
        margin-right: 20px;
        margin-bottom: 20px;
        .icon{
          width: 28px;
          height: 28px;
          margin-right: 10px;
        }
      }

      .cell-other-input{
        padding:15px 0;
        position: relative;
        width: 100%;
        .taroify-cell {
          padding: 23px 30px 17px;
          .taroify-input__placeholder--readonly{
            color: #ADB7BE;
            flex-flow: nowrap;
            font-size: 30px;
            line-break: normal;
            color: rgba(0, 0, 0, 0.7);
          }
        }

        .field{
          border: 2px solid #ADB7BE;
          box-sizing: border-box;
          border-radius: 6px;
          background: $white;

          &:hover {
            border: 2px solid $primary-color;
            box-sizing: border-box;
            filter: drop-shadow(0px 0px 4px $primary-color);
            border-radius: 6px;
          }

          .icon{
            width: 40px;
            height: 40px;
          }
        }

        .icon{
          width: 40px;
          height: 40px;
        }
      }

      .append-view{
        width: 100%;
        height: 200px;
        padding:15px 0;
        .append-scroll{
          position: relative;

          .taroify-cell-group--inset {
            margin: 0;
            width: 100%;

            .taroify-cell {
              font-size: 28px;
              font-weight: 400;
              color: rgba(0, 0, 0, 0.5);
              padding: 15px 30px;

              &__value{
                display: flex;
                justify-content: flex-end;
                align-items: center;
              }

              //&:after{
              //  left: 0;
              //  right: 0;
              //}

              .icon{
                width: 40px;
                height: 40px;
              }
            }

            .cell-checked{
              color: $primary-color;
              font-weight: 500;
              .svg-checked{
                stroke: $primary-color;
              }
            }
          }
        }
      }
    }
  }



  .input-box{
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 32px 48px;

    .input-field{
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      height: 112px;
      background-color: white;

      .corner-text{
        font-weight: 400;
        font-size: 29px;
        line-height: 48px;
        color: rgba(0, 0, 0, 0.3);
      }

      .corner-icon{
        width: 40px;
        height: 40px;
        z-index: 10;
      }
    }

    .input-memo{
      height: 48px;
      margin-left: 48px;

      font-size: 29px;
      color: rgba(0, 0, 0, 0.3);
    }

    .warning-note{
      padding: 0 8px;
      color: $danger-color;
    }

  }

}

.long-input{
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  width: 100%;
  .taroify-cell {
    padding: 23px 30px 17px;
    .taroify-input__placeholder--readonly{
      color: #ADB7BE;
    }
  }

  .field{
    width: 90%;
    border: 2px solid #ADB7BE;
    box-sizing: border-box;
    border-radius: 6px;
    background: $white;
    .tag-array{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-flow: row wrap;

      .tag{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: fit-content;
        padding: 0 10px;
        background: #F3F4FB;
        border-radius: 16px;
        margin-right: 15px;
        .tag-text{
          margin-right: 5px;
          width: fit-content;
          flex-flow: nowrap;
          line-break: normal;
          font-weight: 400;
          font-size: 24px;
          color: rgba(0, 0, 0, 0.7);
        }
      }
    }

    &:hover {
      border: 2px solid $primary-color;
      box-sizing: border-box;
      filter: drop-shadow(0px 0px 4px $primary-color);
      border-radius: 6px;
    }
  }

}


