@import "../../../app";

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  color: $text-color;
  background: $background-color;
}

.main-info {
  padding: 16px 32px;
  width: 600px;
  margin: 0 auto;
  z-index: 100;
}

.avatar {
  height: 128px;
  width: 128px;
  border-radius: 50%;
  overflow: hidden;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-img {
  width: 100%;
  height: 100%;
}

.avatar-anonymous {
  font-size: 100px !important;
  color: $text-color;
}

.nickname {
  font-size: 44px;
  color: $title-color;
}

.note {
  color: $note-color;
  font-size: 28px;
}

.login-text {
  margin-left: 16px;
  color: $text-color;
  font-size: 40px;
  justify-content: center;
}

.basic-info,
.help{
  padding: 16px 0px;
}

.van-icon-arrow{
  margin-top: 10px;
}
