@import "../../../app";

.wrapper {
  padding: 40px 20px 0 20px
}

.header {
  width: 600px;
  margin: 0 16px;
  z-index: 100;
}

.header .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 144px;
  width: 144px;
  border-radius: 50%;
  overflow: hidden;
  background: $white;
  padding: 0;
  .img{
    background-size: contain;
    height: 144px;
    width: 144px;
  }

}

.header .info {
  justify-content: center;
  align-items: start;

  margin-left: 48px;
}

.header .info .nickname {
  display: flex;
  align-items: center;
  flex-direction: row;

  font-style: normal;
  font-weight: 500;
  font-size: 40px;

  color: $text-color-1;

  .badge {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 24px;
    padding: 8px;
    font-size: 24px;
    text-align: center;
    border-radius: 8px;
  }

  .badge-undergraduate {
    background: $primary-color;
    color: $white;
  }

  .badge-graduated {
    background: $primary-color;
    color: $white;
  }

  .badge-checking {
    background: transparent;
    border: 2px solid $primary-color;
    color: $primary-color;
  }

  .badge-notallow {
    background: transparent;
    border: 2px solid $danger-color;
    color: $danger-color;
  }

  .badge-notcheck {
    display: none;
  }

}

.header .info .faculty {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;

  color: $text-color-1
}

.header .info .login-text {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;

  color: $text-color-1
}

.lucky {
  margin: 32px 0;
  align-items: center;
  justify-content: space-between;

  padding: 28px 36px;

  height: 100px;
  background: $white;
  border-radius: 16px;

  .item {
    display: flex;
    align-items: center;
    gap: 16px;

    height: 80px;

    .item-icon {
      height: 54px;
      width: 54px;
    }

    .item-text {

      .value {
        font-weight: 500;
        font-size: 44px;
        line-height: 56px;
        color: $primary-color;
      }

      .value-lower-text {
        margin-left: 4px;

        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $primary-color;
      }

      .text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $note-color
      }
    }
  }
}

.main {
  margin: 32px 0;

  .history-info{
    justify-content: space-between;
    margin-bottom: 36px;
    .history-info-card{
      align-items: center;
      width: 310px;
      height: 160px;
      background: #FFFFFF;
      box-shadow: 0px 0px 12px 5px rgba(145, 138, 227, 0.05);
      border-radius: 16px;

      .history-icon{
        margin-left: 44px;
        width: 80px;
        height: 80px;
      }

      .history-desp{
        height: 80px;
        margin-left: 24px;
        align-items: baseline;
        justify-content: space-between;

        .history-counter-wrapper{
          align-items: baseline;
        }

        .history-number{
          font-weight: 500;
          font-size: 44px;
          line-height: 32px;
          color: $primary-color;
        }

        .history-number-match{
          color: #FBA8B1;
        }

        .history-text{
          font-weight: 400;
          font-size: 24px;
          line-height: 16px;
          color: $primary-color;
        }

        .history-text-match{
          color: #FBA8B1;
        }

        .history-text-grey{
          color: rgba(0, 0, 0, 0.3)
        }
      }

    }

  }

  .taroify-cell-group--inset {
    margin: 0;
  }

  .taroify-cell {
    line-height: 56px;
    font-size: 30px;
  }

  .badge {
    position: absolute;
    right: 16px;
  }
}



.main .left-icon {
  width: 48px;
  height: 48px;

  margin-right: 24px;
}

.van-icon-arrow{
  margin-top: 0;
}

.lucky-popup{
  text-align: center;
  font-size: 18pX;
  margin-top: 50rpx;
}

.lucky-popup-content{
  margin: 40rpx 39rpx;
  font-size: 14pX;
}
.lucky-popup-title{
  font-weight: bold;
  color: #918AE3;
}
.lucky-popup-content-title{
  margin-top: 30rpx;
  font-weight: bold;
  height: 46rpx;
  color: #918AE3;
}

.lucky-popup-content-text{
  height: 46rpx;
}