@import '../../../app.scss';

.container{
  background: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: stretch;
}

.background-success{
  position: relative;
  width: 100%;
  height: 1000px;

  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #918AE3 7.81%, rgba(182, 148, 210, 0.5) 57.29%, rgba(251, 168, 177, 0) 100%);

  z-index: 0;
}

.background-fail{
  position: relative;
  width: 100%;
  height: 1000px;

  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #4A4588 0%, rgba(255, 255, 255, 0) 100%);

  z-index: 0;
}

.top-img-success{
  position: absolute;
  width: 100%;
  height: 1000px;

  z-index: 0;
}

.top-img-fail{
  position: absolute;
  height: 642px;
  margin-top: 208px;
  width: 688px;

  z-index: 0;
}

.background-success .content-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 550px;

  width: 346px;
  height: 60px;
  background: transparent;
  z-index: 100;
}

.background-fail .content-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 600px;

  width: 346px;
  height: 60px;
  background: transparent;
  z-index: 100;
}

.content-top .nickName {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 140px;
  height: 100%;
  border-radius: 16px;

  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 48px;

  padding: 4px;
}

.content-top .male {
  color: $primary-color;
  background: $white;
}

.content-top .female {
  color: $white;
  background: #FBA8B1;
}

.wrapper{
  position: relative;
  bottom: 220px;

  margin: 0 40px;
}

.wrapper-fail{
  position: relative;
  bottom: 60px;

  margin: 0 40px ;
}

.content{
  display: flex;
  flex-direction: column;

  background: $white;
  border-radius: 16px;

  padding: 32px 40px;
}

.content .item {
  width: 100%;
  margin: 14px 0;
}

.content .item .title{
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.3);
}

.content .item .answer{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;

  display: flex;
  align-items: center;
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.7);
}

.footer{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-img{
  height: 442px;
  width: 100%;
}
