@import "../../../app";

.default {
  padding: 24px 32px;
}

.banners {
  width: 100%;
  height: 270px;

  .taroify-swiper-item {
    background: $background-color;
  }

  border-radius: 16px;
  overflow: hidden;

  .img {
    width: 100%;
    height: 100%;
  }

  .indicator {
    .taroify-swiper__indicator--active {
      background: $primary-color;
    }
  }
}

.section {
  margin: 40px 0;
}

.section-name {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 24px;

  margin-left: 8px;
}

.enroll-card {
  height: 160px;

  justify-content: flex-start;
  align-items: center;
  background: $white;

  color: $primary-color;
  border-radius: 16px;
  margin: 24px 0 0 0;
}

.enroll-card .main {
  height: 100%;

  padding: 0 24px;
  flex: 1;
}

.enroll-card .main .time {
  width: 42%;
  justify-content: space-between;
  margin: 24px 0 24px 0;
}

.enroll-card .main .data {
  margin: 24px 0 20px 18px;
  justify-content: space-between;
}

.enroll-card .main .divider {
  position: relative;
  top: 25px;
  width: 2px;
  height: 110px;
  background: #D9D9D9;
}

.enroll-card .countdown {
  display: flex;
  flex-direction: row;
}

.enroll-card .countdown-block {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 24px;
  color: #918AE3;
}

.enroll-card .countdown-colon {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $note-color;

  margin: 0 6px
}

.enroll-card .title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $text-color-2;
}

.enroll-card .content {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 24px;
  color: $primary-color
}

.enroll-card .note {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: $note-color
}

.enroll-card .button {
  height: 100%;
  width: 120px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;

  background: $primary-color;

  justify-content: center;
  align-items: center;
}

.enroll-card .button-disable {
  background: $note-color;
}

.enroll-card .button-text {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: $background-color-light;

  display: flex;
  align-items: center;
  text-align: center;
}

.data-section {
  height: 120px;
  background: $background-color;

  margin-top: 20px;
}

.data-card {
  position: relative;

  flex: 1;
  height: 100%;
  border-radius: 16px;

  justify-content: center;
  align-items: flex-start;
}

.data-card .icon {
  position: absolute;
  right:11px;
  top:11px;

  width: 44px;
  height: 44px;
}

.data-card .title {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
}

.data-card .title-small {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.data-card .content {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: $text-color-2;

  margin-top: 4px;
}

.data-card + .data-card{
  margin-left: 24px;
}

.data-section .yellow {
  color: $orange-dark;
  background: $orange-light;
}

.data-section .purple {
  color: $purple-dark;
  background: $purple-light;
}

.data-section .pink {
  color: $pink-dark;
  background: $pink-light;
}

.articles {

}

.feedback {
  position: relative;
  bottom: 80px;

  width: 100%;
  height: 266px;
}

.custom-modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F3F4FB;
  border-radius: 16px;
  min-height: auto;
  min-width: 640px;

  .info-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;
    .title{
      font-weight: 700;
      font-size: 40px;
      line-height: 46px;

      display: flex;
      align-items: center;
      text-align: center;

      color: rgba(0, 0, 0, 0.7);
      margin-top: 50px;
    }
    .background-img{
      height: 400px;
      width: 320px;
      margin: 0 42px;
    }

    .desp{
      font-weight: 400;
      font-size: 32px;
      line-height: 44px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: -0.02em;
      color: #000000;
      opacity: 0.5;
      margin-bottom: 30px;
    }
  }

  .button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100px;

    box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.1);

    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;

    color: #918AE3;
  }
}

