@import '../../pages/user/personal-info-fill/index.scss';

.modal-popup{
  display: flex;
  flex-direction: column;
  width: 80%;
  max-height: 80%;
  border-radius: 16px;
  padding: 20px;
  align-items: center;
  background: #F3F4FB;
  .check-btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    width: 500px;

    .btn{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 60px;
      border-radius: 66px;
    }

    .btn-cancel{
      border: 2px solid $primary-color;
      background: white;
    }

    .btn-confirm{
      background: $primary-color;
      color: white;
    }
  }

  .warning-memo {
    margin-top: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: $danger-color;
    white-space: nowrap;
  }

  .label-memo {
    color: $primary-color;
  }

  .address-tag{
    width: fit-content;
    height: 44px;
    padding: 0 10px;
    margin-bottom: 10px;
    background: #918AE3;
    color: #ffffff;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 28px;
    align-items: center;
    .icon{
      align-items: center;
      width: 24px;
      height: 24px;
      display: flex;
    }
  }

  .check-body{
    padding-top: 32px;
    display: flex;
    flex-flow: wrap;
    align-items: baseline;
    .check-label{
      align-items: center;
      height: 80px;
      background: #FFFFFF;
      border-radius: 16px;
      margin-right: 20px;
      margin-bottom: 20px;
      .check-text{
        flex-flow: nowrap;
        font-size: 30px;
        line-break: normal;
        padding: 16px 32px;
        color: rgba(0, 0, 0, 0.7);
        word-break: keep-all;
      }
      .check-text-selected{
        color: #FFFFFF;
      }

      .selected-icon{
        width: 48px;
        height: 48px;
        padding: 0 32px 0 16px;
      }
    }

    .other-label{
      align-items: center;
    }

    .check-label-selected{
      background: $primary-color;
    }

    .field{
      border-radius: 8px;

      .taroify-form-label{
        width: fit-content;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.7)
      }

      .field-note {
        margin-top: 8px;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        color: $danger-color;
        white-space: nowrap;
      }

      .field-warn{
        border: 2px solid $danger-color;
        box-sizing: border-box;
        border-radius: 6px;
        background: $white;
      }
    }

    .other-address{
      width: 100%;
      .address-body{
        background: white;
        border-radius: 16px;

        .taroify-picker{
          --picker-background-color: $white;
          --picker-title-font-size: 28px;
          --picker-toolbar-height: 44px;
          --picker-confirm-action-color:$primary-color;
          --picker-option-color: $primary-color;
          color: $primary-color;
          border-radius: 16px;

          &__mask{
            //background: $white;
            background-image: linear-gradient(180deg, rgb(255, 255, 255), rgba(255, 255, 255, 0)), linear-gradient(0deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
          }
        }
      }
    }
  }
}

.radio-body{
  display: flex;
  flex-direction: column;
  position: relative;
  padding:16px 32px;

  height: fit-content;
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;

  --radio-border-color: #918AE3;
  --radio-checked-icon-color: #918AE3;
  --radio-checked-icon-border-color: #918AE3;

  .question{
    padding: 8px 0;
    line-height: 40px;
  }

  .taroify-radio {
    padding: 8px;
    align-items: center;

    &__label {
      font-size: 28px;
    }

    .taroify-cell {
      padding: 23px 30px 17px;

      .taroify-input__placeholder--readonly {
        color: #ADB7BE;
      }
    }
  }

  .field-note{
    margin-top: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: $danger-color;
  }

  .field{
      border: 2px solid #ADB7BE;
      box-sizing: border-box;
      border-radius: 6px;
      background: $white;
      .tag-array{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: row wrap;

        .tag{
          display: flex;
          flex-direction: row;
          align-items: center;
          height: fit-content;
          padding: 0 10px;
          background: #F3F4FB;
          border-radius: 16px;
          margin-right: 15px;
          .tag-text{
            margin-right: 5px;
            width: fit-content;
            flex-flow: nowrap;
            line-break: normal;
            font-weight: 400;
            font-size: 24px;
            color: rgba(0, 0, 0, 0.7);
          }
        }
      }

      &:hover {
        border: 2px solid $primary-color;
        box-sizing: border-box;
        filter: drop-shadow(0px 0px 4px $primary-color);
        border-radius: 6px;
      }
    }
}

