@import '../../../app.scss';

.wrapper {
  padding: 40px 40px 0 40px;
}

.img{
  position: relative;
  width: 80%;
  margin-left: 10%;
  height: 1000px;
  mix-blend-mode: darken;
}

.content{
  padding: 0px 32px 0 32px;
  background:$background-color;
}

.highlight{
  color: $primary-color;
  margin-bottom: -48px;
  font-weight: 500;
}

.gradedata{
  position: relative;
  height: 112px;
  width: 50%;
  align-items: center;
}

.upper {
  font-family: Inter;
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;

  white-space: pre-wrap;
  word-break:break-all;

  color: $primary-color
}

.inner{
  font-weight: 600;
  font-size: 24px;
  margin-top: -48px;
}

.lower {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  white-space: pre-wrap;
  word-break:break-all;

  color: $text-color-2
}
