@import '../index.scss';

.btn-failed {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 72px;
  width: 200px;

  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: $text-color-2;

  background-color: $white;
  border: 2px solid $text-color-2;
  box-sizing: border-box;
  border-radius: 100px;
}

.choose {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
}

.choose .note {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: $note-color;

  margin-top: 16px;
}

.choose .note .checked {
  color: $primary-color;
}

.message-board-container {
  position: relative;
  //height: $message-board-height;

  justify-content: flex-start;
  align-items: center;

  background: $white;

  padding: 16px 10% 32px 16%;
  border-radius: 16px;
}

.message-board-container .message-board {
  width: 100%;
}

.message-board-container .message-board .title {
  height: 48px;

  justify-content: flex-start;
  align-items: center;

  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: $text-color-1;

  margin-bottom: 12px;
}

.message-board-container .message-board .desc {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;

  color: $note-color;

  margin-bottom: 20px;
}

.message-board-container .message-board .textarea-wrapper-focus{
  border: 1px solid $primary-color;
  box-shadow: 0 0 4px rgba(145, 138, 227, 0.5);
}

.message-board-container .message-board .textarea-wrapper{
  width: 500px;
  border-radius: 16px;

  .taroify-cell{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    gap: 10px;
    width: 500px;
    border-radius: 16px;
    background: #F5F4FF;
  }

  .taroify-form-control {
    min-height: 60px;
  }

  .msg-textarea{
    width: 80%;
    //padding: 16px;
    background: #F5F4FF;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: $text-color-2;
  }

  .confirm-btn{
    position: absolute;
    right: 4px;
    top: 16px;

    width: 15%;
    height: 40px;

    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #C8C4F1;
  }

  .confirm-btn-click {
    color: $primary-color;
  }

}
