@import '../../../app';

.backdrop{
  --backdrop-background-color: rgba(0,0,0,0);
  z-index: 9
}

.card-body{
  position: absolute;
  width: 100%;
  margin-top: -36px;
  flex-direction: row;
  background: #FFFFFF;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  z-index: 11;
}

.form-item{
  position: relative;
  margin-bottom: 44px;
  .taroify-cell {
    padding: 23px 30px 17px;
    align-items: center;
    .taroify-cell__value{
      z-index: 1;
    }
    .taroify-input__placeholder--readonly{
      color: #ADB7BE;
    }
  }

  .field-note {
    margin-top: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: $danger-color;
  }

  .field{
    border: 2px solid #ADB7BE;
    box-sizing: border-box;
    border-radius: 6px;
    background: $white;
    .tag-array{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-flow: row wrap;
      gap: 10px;
      .tag{
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 16px;
        background: #F3F4FB;;
        border-radius: 16px;
        //margin-right: 15px;
        .tag-text{
          margin-right: 5px;
          font-weight: 400;
          font-size: 28px;
          line-height: 24px;
          width: fit-content;
          flex-flow: nowrap;
          line-break: normal;
          color: $primary-color;
        }

        .tag-delete{
          width: 40px;
          height: 40px;
        }
      }
    }

    &:hover {
      border: 2px solid $primary-color;
      box-sizing: border-box;
      filter: drop-shadow(0px 0px 4px $primary-color);
      border-radius: 6px;
    }
  }

  .field-warn{
    border: 2px solid $danger-color;
    box-sizing: border-box;
    border-radius: 6px;
    background: $white;
  }

  .label{
    position: absolute;
    left: 32px;
    top: -16px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;

    background-color: $white;
    color: #5E6366;
    z-index: 1;
  }
}

.form-item-fold{
  z-index:10;
}

.form-item-subject{
  display: flex;
  flex-direction: column;
  .question{
    padding: 8px 0;
  }

  .radio-wrapper{
    height: fit-content;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    margin-bottom: 16px;

    --radio-border-color: #918AE3;
    --radio-checked-icon-background-color: #918AE3;
    --radio-checked-icon-border-color: #918AE3;

    .taroify-radio{
      padding: 8px;
      align-items: center;

      &__label{
        font-size: 28px;
      }

      .taroify-cell {
        padding: 23px 30px 17px;
        .taroify-input__placeholder--readonly{
          color: #ADB7BE;
        }
      }

      .field{
        border: 2px solid #ADB7BE;
        box-sizing: border-box;
        border-radius: 6px;
        background: $white;
        .tag-array{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-flow: row wrap;

          .tag{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: fit-content;
            padding: 0 10px;
            background: #F3F4FB;
            border-radius: 16px;
            margin-right: 15px;
            .tag-text{
              margin-right: 5px;
              width: fit-content;
              flex-flow: nowrap;
              line-break: normal;
              font-weight: 400;
              font-size: 24px;
              color: rgba(0, 0, 0, 0.7);
            }
          }
        }

        &:hover {
          border: 2px solid $primary-color;
          box-sizing: border-box;
          filter: drop-shadow(0px 0px 4px $primary-color);
          border-radius: 6px;
        }
      }
    }

  }
}

.form-composed-item{
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}

