.act-img{
  position: relative;
  width: 100%;
  height: 380px;
  mix-blend-mode: darken;
  margin-left: 46px;
  margin-top: -32px;
}

.wrapper{
  padding: 0 26px 0 26px;
  position: absolute;
  top: 300px;
}
