@import '../../../app.scss';

.wrapper {
  padding: 40px 40px 0 40px;
}

.h1 {
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;

  display: flex;
  align-items: center;

  color: $primary-color;

  margin-bottom: 20px;
}

.h2 {
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;

  display: flex;
  align-items: center;
}

.h3 {
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;

  display: flex;
  align-items: center;
}

.p1 {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;

  display: flex;
  align-items: center;

  white-space: break-spaces;

  color: $text-color;
}

.p2 {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;

  display: flex;
  align-items: center;

  white-space: break-spaces;

  color: $text-color-2
}

.margin-bottom-12 {
  margin-bottom: 12px;
}

.margin-bottom-24 {
  margin-bottom: 24px;
}

.margin-bottom-48 {
  margin-bottom: 48px;
}

.purple {
  color: $primary-color
}

.bold {
  font-weight: 500;
}
