@import '../../../app.scss';

.title {
  text-align: center;
  font-size: 20pt;
  font-weight : bold;
  padding: 20px;
}

.h1 {
  text-align: left;
  font-size: 16pt;
  margin: 10px;
}

.h2 {
  text-align: left;
  font-size: 12pt;
  margin: 10px;
}

.content {
  text-align: left;
  margin: 10px
}

.note {
  text-align: center;
  font-size: 12pt;
}

.bold {
  font-weight: bold;
}
