@import '../../app.scss';

.article-card {
  justify-content: flex-start;
  align-items: center;

  background: $white;

  margin-top: 24px;
  padding: 16px 32px 16px 16px;
  border-radius: 16px;
}

.article-card .detail {
  height: 210px;
  width: 100%;
  position: relative;

  align-items: flex-start;
  margin: 0 0 0 24px;
}

.article-card .img {
  width: 48%;
  height: 200px;

  border-radius: 16px;
}

.article-card .title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: $text-color;

  margin-bottom: 16px;
}

.article-card .desc {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  color: $text-color-2;

  margin-bottom: 24px;
}

.article-card .note {
  align-items: center;
  width: 100%;

  position: absolute;
  bottom: 0;
}

.article-card .tag {
  height: 36px;

  background: #F5F4FF;
  border-radius: 4px;

  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: $primary-color;
}

.article-card .date {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 8px;

  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: $note-color
}
