@import "../../../app";

.container{
  background: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: stretch;
}

.common_qustions{
  margin: 32px 0px;
}

.help-title{
  margin-left: 32px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.help-img{
  width: 1.5rem;
  height: 1.5rem;
}

.help-text{
  color: $primary-color;
  margin-left: 8px;
}

.arti_service{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0 28px;
}

.arti-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 28px;
  line-height: 48px;
  height: 220px;
}

.arti-text-color{
  color: $primary-color;
}

.arti-wechat{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 220px;
  justify-content: center;
  margin-left: 16px;

}

.arti-img{
  width: 5rem;
  height: 5rem;
  border: 5px solid $primary-color;
  border-radius: 16px;

  padding: 8px;
}

.collapse-item {
  .taroify-cell__value {
    display: none;
  }

  .taroify-cell__title {
    margin-right: 72px;
  }

  .taroify-cell {
    line-height: 48px;
    font-size: 30px;
  }

  .taroify-cell__brief {
    font-size: 27px;
    line-height: 36px;
  }

  .taroify-collapse-item__content {

  }
}
