@import "../../../app";

.container{
  background: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: stretch;
}

.section{
  margin: 32px 0px;
}

.margin-h {
  margin: 0 32px;
}

.title{
  margin-left: 32px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .title-img{
    width: 1.5rem;
    height: 1.5rem;
  }

  .title-text{
    color: $primary-color;
    margin-left: 8px;
  }
}

.arti-service{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0 28px;
}

.arti-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 28px;
  line-height: 48px;
  height: 220px;
}

.arti-text-color{
  color: $primary-color;
}

.arti-wechat{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 220px;
  justify-content: center;
  margin-left: 16px;
}

.arti-img{
  width: 5rem;
  height: 5rem;
  border: 5px solid $primary-color;
  border-radius: 16px;

  padding: 8px;
}

.collapse-item {
  .taroify-cell__value {
    display: none;
  }

  .taroify-cell__title {
    margin-right: 72px;
  }

  .taroify-cell {
    line-height: 48px;
    font-size: 30px;
  }

  .taroify-cell__brief {
    font-size: 27px;
    line-height: 36px;
  }

  .taroify-collapse-item__content {

  }
}

.report {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 156px;
  width: 100%;

  background: $primary-color;
  border-radius: 16px;
  overflow: hidden;
  box-sizing: border-box;

  .report-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    position: absolute;
    height: 140px;
    width: 98%;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    background: transparent;
    z-index: 2;
    box-sizing: border-box;

    .text {
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      color: $white;
      opacity: 0.8;
    }
  }

  .report-img {
    width: 244px;
    height: 156px;

    position: absolute;
    right: 30px;
  }
}
