@import '../../../app.scss';

.container {
  background: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: stretch;
}

.header {
  width: 100%;
  height: 560px;

  background: $primary-color
}

.header-img {
  position: absolute;
  right: 0;
  top: 20px;

  width: 349px;
  height: 527px;
  z-index: 1;
}

.header-content {
  position: relative;
  top: 100px;

  height: 460px;

  background: $primary-color;
  padding: 0 34px;

  justify-content: space-around;

  .title {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-weight: 500;
    font-size: 38px;
    line-height: 56px;
    letter-spacing: 0.02em;

    color: $white;

    .badge {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 4px 12px;

      height: 32px;

      background: #E4E5FB;
      margin-left: 8px;
      border-radius: 8px;

      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      color: #8C56FC;
    }
  }

  .text-1 {
    width: 340px;

    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: $white;
  }

  .text-2 {
    width: 340px;

    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.5);
  }

  .statistic {
    margin-bottom: 24px;
    justify-content: space-around;
    align-items: center;
    gap: 40px;

    width: 470px;
    height: 112px;

    .item-divider {
      width: 0;
      height: 80px;

      border: 2px solid rgba(255, 255, 255, 0.5);
    }

    .item {
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: rgba(255, 255, 255, 0.9);

      .item-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
      }

      .item-value {
        margin-top: 16px;
        font-weight: 600;
        font-size: 48px;
        line-height: 32px;
      }

      .item-value-lower {
        margin-left: 8px;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
      }

      .item-value-badge {
        margin-left: 8px;
        padding: 0 2px;
        width: 44px;
        height: 32px;
        border-radius: 8px;

        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        background: #FBA8B1;
        color: $white;
      }
    }
  }
}

.taroify-notice-bar {
  background: rgba(97, 96, 251, 0.1);
}

.taroify-notice-bar__content {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.condition-container {
  margin: 16px 0;
  padding: 0 16px;

  height: 176px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  white-space: nowrap;

  .condition-item--selected {
    background: $primary-color;
    color: $white;
  }

  .condition-item--not-selected {
    background: $white;
    color: $text-color-2;
  }

  .condition-item {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;

    padding: 26px 32px;

    width: 320px;
    height: 176px;

    border-radius: 16px;
    white-space: break-spaces;
    overflow: hidden;

    .condition-header {
      display: flex;
      flex-direction: row;

      font-weight: 790;
      font-size: 58px;
      line-height: 32px;

      .condition-title {
        margin: 4px 0 0 8px;
        font-weight: 500;
        font-size: 28px;
        line-height: 32px;
      }
    }

    .condition-content {
      margin-top: 20px;

      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
    }
  }

  .condition-item:not(:last-child) {
    margin-right: 16px;
  }
}

.display {
  margin: 0 36px 32px;

  justify-content: center;
  align-items: center;
  overflow: hidden;

  .display-value {
    position: relative;
    top: 120px;

    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    color: $danger-color;
  }

  .display-heartbroken {
    width: 420px;
    height: 360px;

    margin-bottom: 48px;
  }

  .display-content {
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

    padding: 32px 54px 32px;

    height: 420px;
    width: 700px;

    background: $white;
    border-radius: 24px;

    .text-1 {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: $text-color-2
    }

    .text-2 {
      font-weight: 500;
      font-size: 32px;
      line-height: 44px;
      color: $primary-color;
    }

    .text-3 {
      font-weight: 500;
      font-size: 28px;
      line-height: 40px;
      color: $primary-color;
      width: 100%;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }

    .text-4 {
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      color: $text-color-2
    }

    .display-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      width: 560px;
      height: 88px;

      background: $primary-color;

      font-weight: 500;
      font-size: 36px;
      line-height: 48px;
      color: $white;
      border-radius: 60px;
    }

    .display-note {
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      color: $text-color-3
    }
  }
}
