@import '../../../app';

.movable-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  align-items: center;
  margin: 32px 32px 32px;
  padding-bottom: 80px
}

.wrapper .tips {
  display: flex;
  height: 44px;
  align-items: center;
  gap: 10px;
  background: $purple-light;
  border-radius: 16px;

  margin: 20px 0 32px 0px;
  padding: 12px 28px;

  .text{
    font-size: 26px;
    color: $primary-color;
  }
  .icon{
    width: 32px;
    height: 32px;
    font-size: 32px;
    margin-right: 16px;
  }
}

.wrapper .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 44px 40px 76px 40px;

  background: $white;
  border-radius: 16px;
  color: $text-color-1;
  font-size: 28px;

  transition: height 1s;
  -o-transition: height 1s;
  overflow: hidden;

  .form{
    position: relative;
    width: 100%;

    .title-bar{
      display: flex;
      margin-top: 32px;
      margin-bottom:32px;
      width:100%;
      height: 48px;

      align-items: center;

      .title-text{
        font-weight: 500;
        font-size: 34px;
        line-height: 48px;
        color: $primary-color;
      }

      .title-split{
        width: 450px;
        margin-left: 16px;
      }
    }

    .composed-item{
      display: flex;
      flex-direction: row;
      column-gap: 24px;
    }

    .disp{
      font-weight: 400;
      font-size: 24px;
      color: #5E6366;
    }
  }
}

.wrapper .btn-container{
  position: fixed;
  bottom: 0;
  width: 608px;
  height: 120px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  z-index: 20;
  background: white;
  border-top: 1px solid $gray-2;
  .btn-save{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 88px;
    border: 3px solid $primary-color;
    border-radius: 60px;

    font-weight: 500;
    font-size: 36px;
    line-height: 24px;
    background: white;
    color: $primary-color;
  }

  .btn-confirm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 88px;

    font-weight: 500;
    font-size: 36px;
    line-height: 24px;

    background: $primary-color;
    border-radius: 60px;

    color: white;
  }

  .btn-confirm-disable{
    background: #D3D0F4;
  }

}


.info{
  margin: 32px 0;

  .taroify-cell {
    line-height: 56px;
    font-size: 30px;
  }

  .taroify-cell__brief {
    font-size: 27px;
    line-height: 36px;
  }
}
