@import "../../app";

.container {
  min-height: 100vh;
  position: relative;
  color: $title-color;
  background:$background-base-color;
  :global {
    .at-search-bar::after {
      border: 0 solid white;
    }
  }
}

.default {
  padding: 24px;
}

.section-name {
  font-size: 32px;
  margin: 32px 0 16px 8px;
  font-weight: bold;
}

.basic-choice.at-list{
  border-radius: 30px;
  margin: 8px 0 8px;
}

.at-form,
.phone-number{
  border-radius: 30px;
  margin: 8px 0 8px;
}

.at-input__container{
  margin: 0 24px 0 24px;
}

.button.at-button {
  background: #4f54c1;
  border: none;
  color: white;
  margin-left: 15px;
}

.submit {
  position: absolute;
  bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.submit-button {
  border: none;
  background: #4f54c1;
  color: white;
}
