@import '../../app';

.container {
  background: $background-base-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: stretch;
  :global {
    .at-list__item .item-extra__info {
      padding-right: 60px;
    }
    .item-extra__image {
      margin-right: 45px;
      width: 80px;
      height: 80px;
      border-radius: 100px;
      overflow: hidden;
    }
  }
}
.title {
  font-size: 24px;
  margin-left: 24px;
  margin-bottom: 16px;
  color: $note-color;
}

.detail {
  :global {
    .at-list__item .item-extra__info {
      padding-right: 0;
    }

    .item-extra__image {
      margin-right: 45px;

      width: 80px;
      height: 80px;
      border-radius: 100px;
      overflow: hidden;
    }
  }
}
