@import '../../app';

.button {
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary-color-1;
  border-color: $primary-color-1;
  color: white;
}

.content {
  color: $text-second-color;
}

.text {
  margin-left: 8px;
  color: $primary-color-1;
}

