@import './theme/custom_variables';

page {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  min-height: 100vh;
  position: relative;
  color: $text-color;
  background:$background-color;
}

// flex

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// article

.h1 {
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;

  display: flex;
  align-items: center;

  color: $primary-color;

  margin-bottom: 20px;
}

.h2 {
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;

  display: flex;
  align-items: center;
}

.h3 {
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;

  display: flex;
  align-items: center;
}

.p1 {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;

  white-space: pre-wrap;
  word-break:break-all;

  color: $text-color;
}

.p2 {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;

  white-space: pre-wrap;
  word-break:break-all;

  color: $text-color-2
}

.margin-bottom-12 {
  margin-bottom: 12px;
}

.margin-top-12 {
  margin-top: 12px;
}

.margin-bottom-24 {
  margin-bottom: 24px;
}

.margin-bottom-48 {
  margin-bottom: 48px;
}

.purple {
  color: $primary-color
}

.danger {
  color: $danger-color
}

.bold {
  font-weight: 500;
}

// update taroify dialog

.dialog-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

  border: none;
  background: transparent;
}

.dialog-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;

  border: none;
  background: transparent;

}

.dialog-btn:after {
  border: none;
}

.taroify-dialog__footer .taroify-dialog__confirm, .taroify-dialog__footer .taroify-dialog__confirm:active {
  color: $primary-color;
}
