@import "../../../app";
@import "../../../components/person-info/form-modify/input-cell/index";
page {
  --radio-checked-icon-cbackground-color: $primary-color;
  --radio-checked-icon-border-color: $primary-color;
}

.wrapper {
  padding: 100px 48px 0
}

.layout {
  justify-content: center;
  align-items: center;
}

.header {
  width: 680px;
  height: 480px;

  margin-bottom: 140px;
}

.slogan {
  width: 580px;
  height: 180px;
}

.register-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 600px;
  height: 88px;

  font-style: normal;
  font-weight: 500;
  font-size: 36px;

  color: $white;

  border-radius: 60px;
  margin-bottom: 24px;
}

.register-button-not-agree {
  background: $gradient-purple-light;
}
.register-button-agree {
  background: $gradient-purple-dark;
}

.text-1 {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: $text-color-2;

  text-align: center;
  margin-bottom: 24px;
}

.text-2 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: $text-color-3;

  text-align: center;
  margin-bottom: 24px;
}

.agree {
  width: 588px;
  height: 96px;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

.agree .radio {
  width: 40px;
  padding-top: 8px;

  .taroify-checkbox__icon--checked {
    .taroify-icon {
      border-color: $primary-color;
      background: $primary-color;
    }
  }

  .taroify-checkbox__icon {
    .taroify-icon {
      border: 1px solid $primary-color;
    }
  }
}

.agree .text {
  padding-top: 16px;
  margin-left: 20px;
  color:$text-color-2
}

.agree .text .purple {
  color: $primary-color;
}
